<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Dashboard - Turbo.Js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="@Url.Content("~/images/dahsboard/Logo.png")"/>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: "Roboto", sans-serif;
        }
        header{
            position: fixed;
            background: rgba(22,34,57,0.95);
            padding: 20px;
            width: 100%;
            height: 30px;
        }
        .left_area h3{
            color: #f5a425;
            margin: 0;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 900;
        }
        .left_area span{
            color: #ffff
        }
        .logout_btn{
            padding: 5px;
            background-color: #f5a425;
            text-decoration: none;
            float: right;
            margin-top: -30px;
            margin-right: 40px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            transition: 0.5s;
            transition-property: background;
        }
        .logout_btn:hover{
            background: #f5a425;
        }
        .sidebar{
            background: rgba(22,34,57,0.95);
            margin-top: 70px;
            padding-top: 30px;
            position: fixed;
            left: 0;
            width: 250px;
            height: 100%;
            transition: 0.5s;
            transition-property: left;
        }
        .sidebar .profile_image{
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin-bottom: 10px;
        }
        .sidebar h4{
            color: #ccc;
            margin-top: 0;
            margin-bottom: 20px;
        }
        .sidebar a{
            color: #fff;
            display: block;
            width: 100%;
            line-height: 60px;
            text-decoration: none;
            padding-left: 40px;
            box-sizing: border-box;
        }
        .sidebar a:hover{
            background: #f5a425;
        }
        .sidebar i{
            padding-right: 10px;
        }
        label #sidebar_btn{
            z-index: 1;
            color: #fff;
            position: fixed;
            cursor: pointer;
            left: 300px;
            font-size: 20px;
            margin: 5px 0;
        }
        label #sidebar_btn:hover{
            color: #f5a425;
        }
        #check:checked ~ .sidebar{
            left: -190px;
        }
        #check:checked ~ .sidebar a span{
            display: none;
        }
        #check:checked ~.sidebar a{
            font-size: 20px;
            margin-left: 170px;
            width: 80px;
        }
        .content{
            margin-left: 250px;
            background-position: inherit;
            background-color: antiquewhite;
            background-size: cover;
            height: 100vh;
            transition: 0.5s ease-in-out;
        }
        #check:checked ~ .content{
            margin-left: 60px;
        }
        #check{
            display: none;
        }
    </style>
</head>
<body>
    <input type="checkbox" id="check"/>
    <!--Header area start-->
     <header>
         <label for="check">
             <i class="fa-solid fa-bars" id="sidebar_btn"></i>
         </label>
         <div class="left_area">
             <h3>Turbo <span>JS</span></h3>
         </div>
         <div class="right_area">
             <a asp-controller="home" asp-action="Index" class="logout_btn">Logout</a>
         </div>
     </header>
    <!--Header area end-->
    <!--Sidebar start-->
    <div class="sidebar">
        <center>
            <i class=" fa-solid fa-user"></i>
        </center>
        <a asp-controller="StudentDashboard" asp-action="StudentDashboard"><i class="fa-solid fa-desktop"></i> <span>Dashboard</span></a>
        <a asp-controller="StudentCourse" asp-action="Index"><i class="fa-solid fa-book"></i> <span>Courses</span></a>
        <a href="#"><i class="fa-solid fa-briefcase"></i> <span>Assessments</span></a>
        <a href="#"><i class="fa-solid fa-hourglass"></i> <span>Classes</span></a>
        <a href="#"><i class="fa-solid fa-book-open"></i> <span>Study Materials</span></a>
        <a href="#"><i class="fa-solid fa-comments"></i> <span>Communication</span></a>
    </div>
    <!--Sidebar end-->
    <div>
       
        @RenderBody()
    </div>
</body>
</html>
